/*
General properties
*/

div.yogurt-profile-group1{
float:left;
width:60%;

}

div.yogurt-profile-group2{
float:left;
width:40%;
}

div#yogurt-suspension {
float:right;
}

img#yogurt-suspensiontools {
    cursor: pointer;
}

.present{
background-color:#FFFFCC;
}


div#yogurt-nav-bar{
margin:3px;
width:95%;
padding:1px;
}

div#yogurt-footer{
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
text-align:right;
}

img.yogurt-nav-bar-icon {
width:15px;
height:15px;
border:none;
}



p#breadcrumbs {
    display:block;
    border-bottom: 2px solid;
    margin: 0 0 5px;
    padding:2px;
}

/*
Search
*/

div.search-element {
clear:both;
}
div.search-element-label {
float:left;
width:300px;
}
div.search-element-body {
float:left;

}

/*
CONFIGS
*/

form#form_configs input {


}

form#form_configs label{

}

form#form_configs fieldset{
display:inline;
width:90%;
}



/*
Profile
*/

div#yogurt-profile-petition {
margin:3px;
}

div#yogurt-profile-petition img {
margin:15px 3px;
float:left;
}

div#yogurt-album-visitors, div#yogurt-profile-search-results, div#yogurt-profile-visual, div#yogurt-profile-statistics, div#yogurt-profile-details {
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}


div#yogurt-profile-groups, div#yogurt-profile-friends {
margin:3px;
padding:1px;
width:95%;
overflow:hidden;
text-align:center;
}

div.yogurt-profile-friend{
margin:1px;
width:27%;
height:100px;
float:left;
text-align:center;
padding:5px;
}

div.yogurt-profile-friend img{
margin:auto;
width:60px;
display:block;
}



div#yogurt-profile-avatar {

margin:1px;
width:45%;
float:left;
text-align:center;
}

div#yogurt-profile-avatar img{
border:2px solid #000000;
}

div#yogurt-profile-mainvideo{
margin:1px;
width:45%;
float:left;
}


span.yogurt-profileinfo-label {
margin:1px 5px;
font-weight:bold;
width:60px;
min-width:60px;
display:inline;
}

span.yogurt-profileinfo-value {
margin:1px 5px;
}
p.yogurt-profileinfo-valuebigtext {
text-align:justify;
margin:1px 5px;
}


p#yogurt-profile-friend-viewall
{
margin:1px;
float:left;
padding:1px;
width:100%;
overflow:hidden;
}

div#yogurt-profile-groups h2, div#yogurt-profile-search-results p, div#yogurt-profile-statistics p, div#yogurt-profile-details p, div#yogurt-profile-search-results h2, div#yogurt-profile-search-results h4, div#yogurt-profile-friends h2, div#yogurt-profile-visual h2, div#yogurt-profile-statistics h2, div#yogurt-profile-details h2 {
margin:0;
}

/******************************************************************************************************
 *  NOTES
 */

a.yogurt-Notes-replyNote {
    clear:both;
    cursor: pointer;
}

div#yogurt-Notes-container {
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}

div#yogurt-Notes-container h2 {
margin:0;
}

img.avatar_Note {
border:1px solid;
padding:1px;
margin:3px;
overflow:hidden;


}

div#yogurt-Notes-form {
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}

p.yogurt-Note-uname{
clear:both;
}

div.yogurt-Note-details {
min-height:200px;
margin:3px;
clear:both;
padding:1px;
width:95%;
}

div.yogurt-Note-avatarandname{
float:left;
}

form.yogurt-Note-form{
height:75px;
width:450px;
border:1px solid #000000;
padding:1px;
margin:auto;
background-color: #ffffff;
text-align:center;
}

form.yogurt-Note-form-delete{
display:inline;
}

input.post{
display:block;
}


div.yogurt-Note-details-texts{
float:left;
width:70%;
}

div.yogurt-Note-details-form{
height:100px;
margin:3px;
clear:both;
padding:1px;
width:95%;
overflow:hidden;
}

p.yogurt-Notes-editdelete-forms{
float:right;
}



/* **********************************************************************************************************
Videos
*/

div#yogurt-videos-container {
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}
div.yogurt-video-container {
margin:1px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}

div.yogurt-video {
margin:3px;
float:left;
overflow:hidden;
text-align:center;
vertical-align:bottom;
}

div.yogurt-video embed{
margin:auto;
}

div.yogurt-video-details form {
display:inline;
}

div.yogurt-video-details {
text-align:left;
margin:3px;
float:left;
width:50%;
}


h2#yogurt-videos-title {
margin:0;
}


div#yogurt-video-form p, div#yogurt-video-form h2{
margin:0;
}
div#yogurt-video-form{
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}


/*****************************************************************************************************************
Audio
*/

div#yogurt-audio-form p, div#yogurt-audio-form h2, div#yogurt-audio-allaudiocontainer p, div#yogurt-audio-allaudiocontainer h2, h2#yogurt-audio-title{
margin:0;
}


div#yogurt-audio-form, div#yogurt-audio-container, div#yogurt-audio-allaudiocontainer{
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}
/*****************************************************************************************************************
Friends
*/

div#yogurt-friends-container {
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}

div#yogurt-friends-container h2{
margin:0;
}

div.yogurt-friend {
margin:1px;
width:23%;
height:250px;
float:left;
text-align:center;
}

div.yogurt-friend img{
margin:auto;
display:block;
}

form.yogurt-friends-evaluateform, form.yogurt-friends-deleteform {

display:inline;
}

/*
NAVEGACAO MAIS
*/
div#yogurt-navegacao {
margin:auto;
float:left;
width:300px;
overflow:hidden;
}

p#funnybw{
display:inline;
height:18px;
background-image:url(../images/funnybw.gif);
background-repeat:no-repeat;
width:48px;
}

span#funnycolor {
width:32px;
background-image:url(../images/funnycolor.gif);
background-repeat:no-repeat;
}

p#coolbw{
display:inline;
height:18px;
background-image:url(../images/coolbw.gif);
background-repeat:no-repeat;
width:48px;
}

span#coolcolor {
width:32px;
background-image:url(../images/coolcolor.gif);
background-repeat:no-repeat;
}

p#friendlybw{
display:inline;
height:18px;
background-image:url(../images/friendlybw.gif);
background-repeat:no-repeat;
width:48px;
}

span#friendlycolor {
width:32px;
background-image:url(../images/friendlycolor.gif);
background-repeat:no-repeat;
}

p#yogurt-profile-fans {
display:inline;
height:18px;
}
/***************************************************************************************************************************************
album
***************************************************************************************************************************************/

div#yogurt-album-form{
margin:3px;
padding:1px;
float:left;
width:95%;
overflow:hidden;
}

div#yogurt-album-visitors h2, div#yogurt-album-container h2, div#yogurt-album-form h2,div#yogurt-album-form p {
margin:0;
}

div#yogurt-album-container{
padding:1px;
margin:3px;
float:left;
width:95%;
overflow:hidden;
}

div.yogurt-album-picture {
margin:0;
width:31%;
height:250px;
float:left;
text-align:center;

}

div.yogurt-album-picture img{
border:3px solid;
padding:3px;
}

div.class {
margin:10px;
}

form.yogurt-album-formquick {
display:inline;
}




/*********************************************************************************************************
groups
*/

div#yogurt-group-edit-members, form#yogurt-group-edit-form, form#form_group_search, form#form_group, div#yogurt-group-container, div#yogurt-groups-container, div#yogurt-mygroups-container{
margin:3px;
float:left;
padding:1px;
width:95%;
overflow:hidden;
}

div#yogurt-group-edit-members h2, div.yogurt-group-edit-member h2, form#yogurt-group-edit-form h2, form#form_group_search h2, form#form_group h2, div#yogurt-groups-container h2, div#yogurt-mygroups-container h2, div#yogurt-group-container p,div#yogurt-group-container h2{
margin:0;
}



div.yogurt-group-edit-member, div.yogurt-group-my{
margin:1px;
width:23%;
height:250px;
float:left;
text-align:center;
}

div.yogurt-group-all{
min-height:100px;
}

div.yogurt-group-all img{
float:left;
margin:3px;
}

form#form_group_search p, form#yogurt-group-edit-form p, form#form_group p, div.yogurt-group-all h4, div.yogurt-group-all p{
margin:1px;
}

form.yogurt-groups-form-becomemember,form.yogurt-groups-form-delete,form.yogurt-groups-form-edit {
display:inline;
}

/*
Others
*/

.yogerrors {color:#FF0000; background-color:#FFEAF4; border-color:#FF0000; border-width:thick;}

fieldset.myconfigs-fieldset {
    border: 1px dotted #80021A;
    padding: 10px;
}

legend.myconfigs-legend {
    color: #80021a;
    font-size: 1.5em;
}
p.alert {
    background-color: #ffc;
    border: 2px solid #fc6;
    padding: 10px;
    margin-bottom: 10px;
}



div#nav{
    margin-right:auto;
    margin-left:auto;
    width:100px;
    page-break-after: always;


    }
div#titulo-friends div {
    float: left;
    margin-left: auto;
    margin-right: auto;
    page-break-after: always;
}

div#wrapper-titulo-ishot div {
    float: left;
    margin-bottom: 10px;
}
div#titulo {
    width: 35%;
}
div#titulo h2 {
    font-size: 1.5em;
}
div#ishot {
    width: 60%;
}
div#ishot form {
    display: inline;
}
div#ishot p#ishot-result {
    font-size: 0.5em;
}
div#album {
margin:auto;
text-align:center;

}

ul#album_photos {
    padding: 0;
    margin:auto;
text-align:center;


}
ul#album_photos:after {
    content: ".";
    width: 95%;
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 1px;
}
ul#album_photos li {
    list-style: none;
    width: 180px;
    float: left;
    padding: 0;
    margin: 0 6px 20px 0;
}

ul#friend {
    padding: 3px;
    margin:auto;
text-align:center;


}
ul#friend li  {
    list-style: none;
    width: 75px;
    float: left;
    padding: 0;
    margin: 5px 6px 20px 5px;
}

ul#friend:after {
    content: ".";
    width: 95%;
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 1px;
}

ul#album_photos li div.photo_in_album {
    height: 240px;
    text-align: center;
}

ul#album_photos li div.photo_in_album:hover {
    background-color: #E1C3C3;
}
ul#album_photos li div.photo_in_album p a {
    /*background-color:#99FFFF;*/
    height: 110px;
    display: block;
}
ul#album_photos li div.photo_in_album img {
    border: 5px solid #000;
    padding: 2px;
}
ul#album_photos li div.photo_in_album a:hover img {
    border-color: #80021A;
}
ul#album_photos li div.photo_in_album a:hover {
    color: #80021A;
}
div.photo_in_album p#desc {
    height: 50px;
}
div.photo_in_album form {
    display: inline;
}
